:host { 
    display: contents; 
  }
  .token-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #e39610;
  }
  .token-container1 {
    left: 0px;
    width: 504px;
    bottom: 0px;
    height: 1001px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-end;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    flex-direction: column;
    justify-content: flex-end;
  }
  .token-text {
    left: 0px;
    bottom: 0px;
    position: absolute;
    font-size: 25px;
    padding-top: 10px;
    border-color: var(--dl-color-gray-black);
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 250, 250);
  }
  .token-image {
    top: 4px;
    left: 3px;
    width: 499px;
    height: 471px;
    position: absolute;
    object-fit: cover;
  }
  .token-text04 {
    top: 556px;
    left: 30px;
    position: absolute;
    font-size: 30px;
  }
  .token-button {
    top: 608px;
    left: 34px;
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
  }
  .token-container2 {
    top: 0px;
    right: 1px;
    width: 1248px;
    height: 1009px;
    display: flex;
    position: absolute;
    align-self: flex-end;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #D9D9D9;
  }
  .token-textinput {
    top: 224px;
    left: 511px;
    width: 420px;
    height: 76px;
    position: absolute;
    font-size: 35px;
  }
  .token-textinput1 {
    top: 351px;
    left: 513px;
    width: 420px;
    height: 76px;
    position: absolute;
    font-size: 35px;
  }
  .token-text05 {
    top: 223px;
    left: 151px;
    position: absolute;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(227, 150, 16);
  }
  .token-text06 {
    top: 350px;
    left: 140px;
    position: absolute;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(227, 150, 16);
  }
  .token-text07 {
    left: 50px;
    bottom: 5px;
    position: absolute;
    font-size: 35px;
  }
  .token-button1 {
    top: 447px;
    left: 789px;
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 23px;
  }
  .token-text11 {
    top: 582px;
    left: 269px;
    position: absolute;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(227, 150, 16);
  }
  .token-text12 {
    top: 719px;
    left: 298px;
    position: absolute;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(227, 150, 16);
  }
  .token-container3 {
    top: 712px;
    left: 519px;
    width: 406px;
    height: 88px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: #363636;
    border-style: solid;
    border-width: 2px;
    background-color: #ffffff;
  }
  .token-container4 {
    top: 560px;
    left: 519px;
    width: 406px;
    height: 88px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: #363636;
    border-style: solid;
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #ffffff;
  }
  .token-button2 {
    left: 313px;
    width: var(--dl-size-size-large);
    bottom: 40px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
  }
  