:host { 
  display: contents; 
}
.reg-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.reg-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.reg-text01 {
  left: 0px;
  bottom: 1px;
  position: absolute;
  font-size: 25px;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 250, 250);
}
@media(max-width: 1600px) {
  .reg-container1 {
    height: 736px;
    position: relative;
    background-color: #D9D9D9;
  }
  .reg-text {
    top: 305px;
    left: 90px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(227, 150, 16);
  }
  .reg-text01 {
    top: 0px;
    left: 0px;
    bottom: 0px;
    position: static;
  }
  .reg-text05 {
    top: 53px;
    left: 90px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(227, 150, 16);
  }
  .reg-textinput {
    top: 52px;
    left: 290px;
    width: var(--dl-size-size-medium);
    position: absolute;
  }
  .reg-textinput1 {
    top: 301px;
    left: 290px;
    width: var(--dl-size-size-medium);
    position: absolute;
  }
  .reg-textinput2 {
    top: 470px;
    left: 291px;
    width: var(--dl-size-size-medium);
    position: absolute;
  }
  .reg-textinput3 {
    top: 387px;
    left: 289px;
    width: var(--dl-size-size-medium);
    position: absolute;
  }
  .reg-textinput4 {
    top: 217px;
    left: 291px;
    width: var(--dl-size-size-medium);
    position: absolute;
  }
  .reg-textinput5 {
    top: 130px;
    left: 290px;
    width: var(--dl-size-size-medium);
    position: absolute;
  }
  .reg-text06 {
    top: 133px;
    left: 90px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(227, 150, 16);
  }
  .reg-text07 {
    top: 217px;
    left: 90px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(227, 150, 16);
  }
  .reg-text08 {
    top: 471px;
    left: 90px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(227, 150, 16);
  }
  .reg-text09 {
    top: 389px;
    left: 90px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(227, 150, 16);
  }
  .reg-text10 {
    top: 80px;
    right: 93px;
    position: absolute;
    font-size: 30px;
  }
  .reg-button {
    top: 468px;
    left: 509px;
    position: absolute;
  }
}
@media(max-width: 1200px) {
  .reg-container1 {
    width: 100%;
    height: 671px;
  }
  .reg-text {
    top: 300px;
    left: 90px;
  }
  .reg-text01 {
    left: 0px;
    bottom: 0px;
  }
  .reg-text05 {
    top: 51px;
    left: 90px;
  }
  .reg-text06 {
    top: 128px;
    left: 91px;
  }
  .reg-text07 {
    top: 213px;
    left: 90px;
  }
  .reg-text08 {
    top: 470px;
    left: 90px;
  }
  .reg-text09 {
    top: 387px;
    left: 91px;
  }
}